{% extends 'LITRevu/base.html' %}
{% load bootstrap4 %}
{% block title %}Creer Ticket et Critique - LITRevu{% endblock %}

{% block content %}
    <h1>Creer Ticket et Critique</h1>
    <div class="container my-4">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form ticket_form %}
            {% bootstrap_form review_form %}
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
{% endblock %}
